<div class="page-container">

    <div class="menu">
        <button>Добавить неделю</button>
        <button>Добавить задачу</button>
    </div>

    <div class="week-container">

        
            <div class="mark-container">
                <div class="week-caption">
                    <app-week></app-week>
                </div>
                <div class="marks">
                    <app-task></app-task>
                </div>
            </div>
            <!-- <div class="task-container"></div> -->

    </div>
</div>